{% load static %}
{% load utils_extras %}
<!DOCTYPE html>
<html xml:lang="pl" lang="pl" data-bs-theme="dark" data-bs-core="modern">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="Description" content="Fumetsu" />
	<meta name="Keywords" content="" />
	<title>Fumetsu</title>
	<link rel="Shortcut icon" href="" />

    <!-- Halfmoon CSS -->
    <link href="{% static 'fumetsu/css/halfmoon.min.css' %}" rel="stylesheet">

    <!-- Halfmoon modern core theme -->
    <link href="{% static 'fummesu/css/halfmoon.modern.css' %}" rel="stylesheet">

	<!--CSS-->
    <link href="{% static 'fumetsu/css/style.css' %}" rel="stylesheet">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/fb9c73f96c.js" crossorigin="anonymous"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
 
   <!-- logo web -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'fumetsu/img/favicon.png' %}" />


</head>
<body>
<!-- Główny Kontener -->

<!-- Navbar -->
<header class="site-header">
    <nav class="navbar navbar-expand-md bg-dark" style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand pt-0" href="{% url 'fumetsu-home' %}">
                <img class="d-inline-block align-text-top my-1" src="{% static 'fumetsu/img/logo.png' %}" height="36"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active menu-link" href="{% url 'fumetsu-home' %}">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-link" href="{% url 'fumetsu-list' %}">Anime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'fumetsu-info' %}">Aktualności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{% url 'fumetsu-about' %}">O nas</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto d-flex">

                    <!-- Dropdown usera -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-md-2 rounded-top-0">
                            {% if user.is_authenticated%}
                            <li><a class="dropdown-item" href="{% url 'user-inf' user.profile.web_name %}">Profil</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Rejestracja</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <!-- Dropdown staff -->
                    {% if user|has_group:"Informator" or user|has_group:"Uploader" or user|has_group:"content_creator" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-cog"></i>
                        </a>
                    <ul class="dropdown-menu dropdown-menu-end mt-md-2 rounded-top-0">
                        <li><a class="dropdown-item" href="{% url 'Cre-info' %}">Dodaj posta</a></li>
                        <li><a class="dropdown-item" href="{% url 'Cre-ani'  %}">Nowy Odc</a></li>
                        <li><a class="dropdown-item" href="{% url 'ed-an' %}">Popraw Anime</a></li>
                        <li><a class="dropdown-item" href="{% url 'lnk-err' %}">Spr skargi url</a></li>
                    </ul>
                  {% endif %}
                </ul>
          </div>
        </div>
    </nav>
</header>

<div id="main-container">

	<!-- Slajder -->

{% comment %}	<section class="karuzela container-fluid d-none d-md-block">
		<div id="karuzela" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner">
    			<div class="carousel-item active">
     				<img class="d-block w-100 slide-img" src="{% static 'fumetsu/img/head.png' %}" alt="Pierwszy slajd">
    			</div>
    		</div>
  		</div>
	</section>{% endcomment %}

	<!-- Najnowsze Odcinki -->

		<section class="newsy container">
			<div class="row">
				<div class="col-12">
					
					<div class="col-lg-3 side-menu bg-dark float-end d-none d-lg-block">
						<a href="https://www.facebook.com/fumetsusubs/" target="_blank"><div class="social fb text-bg-primary"><div></div><i class="fab fa-facebook-f"></i> Bądź na bieżąco!</div></a>
						<a href="https://discord.gg/t5phVKT" target="_blank"><div class="social dc text-bg-secondary"><i class="fab fa-discord"></i> Dołącz do nas!</div></a>
						<div class="on-air">
							<div id="clock"></div>

							<p id="schedule">Harmonogram</p>

							{% for series in harmon %}
							<a href="{% url 'anime-nm' series.key_map.web_name %}">
							<div class="schedule-series">
								<div class="fs-5 text-primary">{{series.key_map.title}}</div><div>{{series.day}}, {{series.content}}</div></div>
							{% endfor %}
							</a>
						</div>		
					</div>
					
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}

					{% block content%}{% endblock %}


				</div>
			</div>
		</section>
</div>
		<!--Stopka-->

<div class="clearfix"></div>
<footer class="ftr container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="float-start">
                <a href="https://www.facebook.com/fumetsusubs/" target="_blank"><div class="float-start ftr-ico ftr-fb"><i class="fab fa-facebook-f"></i></div></a>
                <a href="https://discord.gg/t5phVKT" target="_blank"><div class="float-start ftr-ico ftr-dc"><i class="fab fa-discord"></i></div></a>
                <a href="https://patronite.pl/fumetsu" target="_blank"><div class="float-start ftr-ico ftr-pt"><img src="{% static 'fumetsu/img/patronite.png' %}" class="pt"></div></a>
            </div>
            <div class="float-end p-2 d-none d-md-block">© Fumetsu 2020 All Rights Reserved</div>
        </div>
    </div>
</footer>
	
<div id="consent-popup" class="hidden text-center">
    Ta strona wykorzystuje pliki cookie. Korzystając z niej, akceptujesz je. <a id="accept" href=""><button class="btn btn-op ml-4">Rozumiem</button></a>
</div>
	

<!-- js -->
<script src="{% static 'fumetsu/js/script.js' %}"></script>
<script src="{% static 'fumetsu/js/web_ep.js' %}"></script>

</body>
</html>
