{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <h2>Dodaj odcinek</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_up|crispy }}
        <button class="btn btn-op" name="add_post">Dodaj odcinek</button>
    </form>

    <h2>Dodaj relacje</h2>

    <form method="POST" >
        {% csrf_token %}
        {{ form_season|crispy }}
        <button class="btn btn-op" name="season_post">Dodaj relacje</button>
    </form>

    <h2>wyświetl linka:</h2>

    <h4>Właśnie poprawiasz anime: {{ request.session.key_map }}</h4>
    

    <form method="POST">
        {% csrf_token %}
        {{ form_ep_ch|crispy }}
        
        <button class="btn btn-op" name="check_urls">Szukaj anime</button>
    </form> 

    <h4>o indexie odcinka: {{ request.session.urls_ep }}</h4>

    <form method="POST">
        {% csrf_token %}
        {{ form_ch_ep|crispy }}
        
        <button class="btn btn-op" name="check_urls_ep">Szukaj odc</button>
    </form> 

    <h2>Popraw odcinek</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_upload_edit_t|crispy }}
        {% if napisy %}
        <h4><a href="{{ napisy.url }}">{{ napisy }}</a></h4>
        {% endif %}
        <button class="btn btn-op" name="check_urls">Popraw/usuń posta</button>
    </form>

    {% if form_upload_edit %}   

    <h2>Popraw post do odc</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_upload_edit|crispy }}
        *Usuniecie posta jest nie odwracalne<br/>
        <button class="btn btn-op" name="check_urls">Popraw/usuń posta</button>
    </form>
    {% endif %}

    <h2>popraw/dodaj linka:</h2>
    

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_ep_fix|crispy }}
        <button class="btn btn-op" name="upd_urls">Upddate linków</button>
    </form>
    

{% endblock content %}