{% extends "base.html" %}
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <h2>wyświetl linka:</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form_ep_ch|crispy }}
        
        <button class="btn btn-op" name="check_urls">Szukaj linków</button>
    </form> 

    <h2>popraw linka:</h2>
    <h4>Właśnie dodajesz linka do: {{ request.session.urls_nm }}</h4>
    <h4>o numerze odcinka: {{ request.session.urls_ep }}</h4>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_ep_fix|crispy }}
        <button class="btn btn-op" name="upd_urls">Upddate linków</button>
    </form>
    

{% endblock content %}