{% extends "base_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <h2>wyświetl linka:</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form_an_ch|crispy }}
        
        <button class="btn btn-op" name="check_urls">Szukaj linków</button>
    </form> 

    <h2>popraw Anime: <br/> {{ ed_an }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_key|crispy }}
        Czy zmienić url na nazwe anime?
        <input type="checkbox" name="zmiana" value="True">
        <br/>
        <button class="btn btn-op" name="upd_nm">Popraw nazwe anime</button>
    </form>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_an|crispy }}
        <button class="btn btn-op" name="upd_dis">Popraw opis i zdj</button>
    </form>

    <h2>Popraw tagi</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_tag|crispy }}
        <button class="btn btn-op" name="upd_tg">Popraw tagi</button>
    </form>

    <h2>Popraw url: {{ ed_an.web_name }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form_an_url|crispy }}
        <button class="btn btn-op" name="ed_url">Popraw url</button>
    </form>


{% endblock content %}