{% extends "fumetsu/base.html" %}
{% load static %}
{% block content %}

	<h2 >NAJNOWSZE ODCINKI</h2>

	{% for post in anime %}


		<div class="col-12 col-lg-8 new-ep alt-bg float-left">
			<div class="new-date d-none d-lg-block">{{ post.odc_nm.date_posted|date:"d.m.o" }}</div>
			<div class="col-12 offset-sm-1 col-sm-10 offset-md-0 col-md-5 float-left">
				<img class="new-img" src="{{ post.image.url }}">
			</div>
			<div class="col-12 col-md-7 pt-1 float-right">
				<a href="{% url 'anime-nm' post.odc_nm.key_map.web_name %}"><h4>{{post.odc_nm.key_map.title}}</h4></a>
            	<p>Odcinek {{post.odc_nm.ep_title|floatformat}} - {{ post.odc_nm.title }}</p>
				<p>{{ post.content|truncatewords:21|safe}}</p>
				<br>
			</div>
			<a class="new-btn" href="{% url 'ep-nm' post.odc_nm.key_map.web_name post.odc_nm.ep_nr %}">
				<button type="button" class="btn btn-op new-btn float-right">Oglądaj</button>
				</a>
		</div>

	{% endfor %}

<!-- 
	<h2 >Aktualności</h2>

	{% for post in info %}


		<div class="col-12 col-lg-8 new-ep alt-bg float-left">
			<img class="new-img float-left" src="{{ post.image.url }}">
            <h4>{{ post.title }}</h4>
            <p>{{ post.date_posted|date:"d.m.o" }}</p>
            
            <p>{{ post.content|truncatewords:15|safe}}</p>
            
            <a href="{% url 'fumetsu-infod' post.idd %}"> 
            <button type="button" class="btn btn-op new-btn float-right">Sprawdź</button>
            </a>
        </div>

	{% endfor %}
-->
{% endblock content %}
