{% extends "fumetsu/base.html" %}
{% load static %}
{% block content %}
    
    <h2 >Aktualności</h2>

    {% for post in posts %}


        <div class="col-12 col-lg-8 new-ep alt-bg float-start">
            <h4>{{ post.title }}</h4>
            <p>{{ post.date_posted|date:"d.m.o" }}</p>
            <p>{{ post.content|truncatewords:35}}</p>
            <a href="{% url 'fumetsu-infod' post.idd %}"> 
            <button type="button" class="btn btn-op float-end">Sprawdź</button>
            </a>
        </div>

    {% endfor %}
{% endblock content %}