{% extends "fumetsu/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  {% if user.is_authenticated%}
	<form method="POST">
		{% csrf_token %}
		<button class="btn-none float-right pd-2" type="submit" name="ply_error">zgłoś player</button>
	</form>
  {% endif %}
	<br/>

	<div class="col-12 col-lg-8 float-left text-center">
	<a href="{% url 'anime-nm' anime_nm.web_name %}"><h2>{{anime_nm.title}}</h2></a>
	 <h5>Odcinek {{odc_html|floatformat}}</h5>
	{% if prev %}
		<a class="float-left contrl" href="{% url 'ep-nm' prev.key_map.web_name prev.ep_nr %}"><i class="fas fa-chevron-left"></i> POPRZEDNI</a>
	{% endif %}

	{% if next %}
		<a class="float-right contrl" href="{% url 'ep-nm' next.key_map.web_name next.ep_nr %}">NASTĘPNY <i class="fas fa-chevron-right"></i></a>
	{% endif %}
	</div>
	<div class="col-12 col-lg-8 float-left">
		<div class="d-flex justify-content-center">
		{% for links in link %}
			<div class="ep-players ">
				<button class="btn-ply btn btn-op" value="{{forloop.counter}}">
					{{links.web_site}}
				</button>
			</div>
		{% endfor %}
			{% if napisy and user.is_authenticated %}
			<div class="ep-players ">
				<button class="btn-ply btn btn-op" value="-">
					<a href="/media/{{napisy}}">Napisy</a>
				</button>
			</div>

			{% endif %}
	</div>
	{% for links in link %}
	<div class="video_cont">
		<iframe src="{{links.link}}" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>	
	</div>
	{% endfor %}
	</div>

		<div class="col-12 col-lg-8 float-left">
			<div class="comments">
			<h5>Sekcja komentarzy:</h5>
			{% if  user.is_authenticated %}
			<form method="POST">
				{% csrf_token %}
				<div class="box_cr_com">
					<div class="com_cr_cont">
						{{ com_ed|crispy }}
					</div>
					<button class="btn btn-op float-right" name="com_cr_bt">Wyślij komentarz</button>
				</div>
				<div class="clearfix"></div>
			</form>
			{% endif %}
			</div>
			<div id="Section_comm">
				{% for com in comment %}		
			    	<div class="box_com ">
			    		<div class="com_aut">			
							<img class="com_img float-left" src="{{ com.author.profile.image.url }}">
							<div class="com_nick float-left">
								<a href="{% url 'user-inf' com.author.profile.web_name %}" style="color:{{com.color}}">
									{{com.author.profile.nick}}
								</a>
							</div>

							{% if com.author == user %}
							<div class="dropleft float-right">
								<a class="com_more" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
							        <div class="dropdown-menu com_edit" aria-labelledby="navbarDropdown">
										<div class="text-center">
										<a href="" class="bt_com_sh" data-toggle="modal" data-target="#modalComRe">Edytuj</a>
										</div>
										<div class="text-center">
										<a href="" class="bt_com_del" data-toggle="modal" data-target="#modalComDel">Usuń</a>
										</div>
							        </div>
								</div>
								{% endif %}
							<div class="com_date float-right d-none d-sm-block">{{com.date_posted}}</div>
						</div>
						<div class="com_cont">
							
							<div class="com_val">
								
								<br>{{com.content}}
							</div>		
							<input type="hidden" name="idd" value="{{com.pk}}" class="pdk">
						</div>
					</div>	
				{% endfor %}
			</div>
		
<div class="modal fade" id="modalComRe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edytuj Komentarz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      	</div>
      	<form method="POST">
				{% csrf_token %}
				<div class="box_up_com">
					<div class="com_up_cont cont_edit">
						{{ com_ed|crispy }}
						<input type="hidden" name="idd" value="" class="pdk">
					</div>
					<button class="btn btn-op btn-edit" name="com_up_bt">Edytuj</button>
				</div>
			</form>	
		
    </div>
  </div>
</div>

<div class="modal fade" id="modalComDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Usuń komentarz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      	</div>
      	<h5 class="modal-title w-100 font-weight-bold">Na pewno chcesz usnąć komentarz?</h5>
      	<div class="com_up_div">
			<form method="POST">
				{% csrf_token %}
				<div class="box_up_com">
					<div class="com_up_cont">															
						<input type="hidden" name="idd" value="" class="pdk">
						</div>
					<button class="btn btn-danger btn-edit" name="com_up_del">Usuń</button>
				</div>
			</form>	
		</div>
    </div>
  </div>
</div>

		</div>	

{% endblock content %}
