{% extends "fumetsu/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load utils_extras %}
{% block content %}

		<div>
{#            Mobile version#}
			<div class="d-block d-md-none">
				<div class="col-12 text-center">
					<img class="ser-m-img" src="{{ posts.cover_image }}">
				</div>
			</div>
{#            Desktop version#}
			<div class="d-none d-md-block col-8">
                <div class ="d-flex flex-row">
                    <div class="me-4">
                        <img class="ser-cover" src="{{ posts.cover_image }}">
                    </div>
                    <div>
                       <h2 class="text-start">{{posts.name_english}}
                        <a href="https://anilist.co/anime/{{posts.anilist_id}}" target="_blank">
                            <img class="d-inline-block align-middle rounded-1" height="24em" src="{% static 'fumetsu/img/anilist_icon.svg' %}"></img>
                        </a>
                        </h2>
                           <h5>{{posts.name_romaji}}</h5>
                        <div id="tags" class="mb-2">
                            {% for tag in tags %}
                                <button class="btn btn-secondary">{{ tag }}</button>
                            {% endfor %}

                        </div>
                        <div>Rodzaj: {{ posts.format }}</div>
                        <div>Status:
                            {% if posts.status == 'AIRING' %}
                                Wychodzi
                            {% elif posts.status == 'FINISHED' %}
                                Zakończone
                            {% elif posts.status == 'NOT_YET_RELEASED' %}
                                Nie wydane
                            {% endif %}
                        <div>Ilość odcinków: {{ posts.episode_count }}</div>
                    </div>
                </div>
			</div>
            <p class="mt-2">{{posts.content}}</p>
         {% if napisy and user.is_authenticated %}
	    <a class="float-end" href="/media/{{napisy}}">Napisy</a>
    {% endif %}
			</div>
		</div>

        <h5>Odcinki:</h5>
		<div class="d-flex flex-row flex-wrap gap-2 col-8 mb-4">
			{% for e in ep %}
	    		<a href="{% url 'ep-nm' posts.web_name e.ep_nr %}">
                    <button class="btn btn-outline-primary ep-btn"><b>{{ e.ep_nr|floatformat}}</b></button>
				</a>
			{% endfor %}
        </div>
        <h5>Powiązane:</h5>
        <div class="d-flex flex-row flex-wrap gap-2 col-8">
            {% for relation in relations %}
                <a href="{% url 'anime-nm' relation.0.web_name %}">
                <div class="card relations-card" style="width: 10rem;">
                    <img src="{{ relation.0.cover_image }}" class="card-img-top" alt="Relation Cover Image">
                     <div class="card-body">
                        <h6 class="card-title">{{relation.0.name_english}}</h6>
                        <p class="card-text">{{relation.1}}</p>
                      </div>
                </div>
                </a>
	        {% endfor %}
		</div>
		<div class="col-12 col-lg-8 float-start">
			<div class="comments">
			<h5>Sekcja komentarzy:</h5>
			{% if user.is_authenticated %}
			<form method="POST">
				{% csrf_token %}
				<div class="box_cr_com">
					<div class="com_cr_cont">
						{{ form|crispy }}
					</div>
					<button class="btn btn-op float-end" name="com_cr_bt">Wyślij komentarz</button>
				</div>
				<div class="clearfix"></div>
			</form>
			{% endif %}
			</div>
			<div id="Section_comm" class="d-flex flex-column gap-4">
				{% for com in comment %}
			    		<div class="d-flex flex-row">
							<img class="com_img me-3" src="{{ com.author.profile.image.url }}">

							<div class="d-flex flex-column">
                                <div class="d-flex flex-row gap-2 align-items-center">
                                    <a href="{% url 'user-inf' com.author.profile.web_name %}" style="color:{{com.color}}">
                                        <div class="fs-5 fw-semibold">{{com.author.profile.nick}}</div>
                                    </a>
                                    {{com.date_posted}}
                                </div>
                                {{com.content}}
                                <input type="hidden" name="idd" value="{{com.pk}}" class="pdk">
                            </div>

							{% if com.author == user %}
							<div class="dropleft float-end">
								<a class="com_more" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
							        <div class="dropdown-menu com_edit" aria-labelledby="navbarDropdown">
										<div class="text-center">
											<a href="" class="bt_com_sh" data-toggle="modal" data-target="#modalComRe">Edytuj</a>
										</div>
										<div class="text-center">
											<a href="" class="bt_com_del" data-toggle="modal" data-target="#modalComDel">Usuń</a>
										</div>
							        </div>
								</div>
								{% endif %}

							<div class="com_date float-end d-none d-md-block"></div>
						</div>
				{% endfor %}
			</div>


<div class="modal fade" id="modalComRe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edytuj Komentarz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="POST">
                {% csrf_token %}
                <div class="box_up_com">
                    <div class="com_up_cont cont_edit">
                        {{ com_ed|crispy }}
                        <input type="hidden" name="idd" value="" class="pdk">
                    </div>
                    <button class="btn btn-op btn-edit" name="com_up_bt">Edytuj</button>
                </div>
            </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalComDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Usuń komentarz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <h5 class="modal-title w-100 font-weight-bold">Na pewno chcesz usnąć komentarz?</h5>
        <div class="com_up_div">
            <form method="POST">
                {% csrf_token %}
                <div class="box_up_com">
                    <div class="com_up_cont">
                        <input type="hidden" name="idd" value="" class="pdk">
                        </div>
                    <button class="btn btn-danger btn-edit" name="com_up_del">Usuń</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

		</div>

{% endblock content %}