{% load i18n %}
{% load static %}
{% load password_eye_extras %}

{% block extrahead %}
{% include_font_awesome "a" as include_font_awesome_library %}
{% if include_font_awesome_library %}
{% include "django/forms/widgets/attrs.html" %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css" rel="stylesheet">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'django_password_eye/css/django_password_eye.css' %}?v=dpe.1.0.7" />
<script src="{% static 'django_password_eye/js/django_password_eye.js' %}?v=dpe.1.0.7"></script>
{% endblock %}

<div class="input-group django_password_eye" id="show_hide_password">
    <input type="password" name="{{ widget.name }}" maxlength=50 class="form-control form-control-lg focus-ring focus-ring-primary"
           placeholder="********" data-toggle="password" style="position: relative"
    >
    <div class="input-group-addon form-control link d-flex flex-row justify-content-center px-0 bg-dark border-secondary cursor-pointer" role="button"
        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Pokaż/Ukryj">
        <a><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
    </div>
</div>

<script defer>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    $(window).bind('beforeunload', function(){
        tooltipList.forEach(tooltip => tooltip.hide())
    })
</script>