django
django-environ
django-cleanup
django-crispy-forms
crispy-bootstrap5
django-debug-toolbar
django-lazy-srcset
django-password-eye
django-resized
djangorestframework
gunicorn
markdown
markdown-link-attr-modifier
pyanilist
pillow
python-slugify
psycopg2-binary
requests
unidecode