2to3
aiohttp
alembic
aniso8601
ass
async-timeout
attrs
backcall
beautifulsoup4
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dataclasses
decorator
defusedxml
discord.py
Django
django-captcha
django-cleanup
django-crispy-forms
django-recaptcha
EasyProcess
entrypoint2
facebook-sdk
Flask
Flask-Login
Flask-Migrate
flask-restx
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
idna-ssl
image
importlib-metadata
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jsonschema
Mako
MarkupSafe
MouseInfo
mss
multidict
oauthlib
parso
pickleshare
Pillow
prompt-toolkit
psutil
PyAutoGUI
pycparser
PyDispatcher
PyGetWindow
Pygments
PyJWT
PyMsgBox
pyperclip
pypi
PyRect
pyrsistent
pyscreenshot
PyScreeze
python-dateutil
python-editor
python3-openid
pytweening
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
tesseract
traitlets
typing-extensions
Unidecode
urllib3
wcwidth
websockets
Werkzeug
wget
WTForms
yarl
zipp
crispy-bootstrap5
pyanilist
django-password-eye
markdown
markdown-link-attr-modifier
gunicorn
python-slugify
djangorestframework
django-resized
