{% extends "base_sidebar.html" %}
{% load static %}
{% load lazy_srcset %}
{% load utils_extras %}

{% block title %}Profil {{ f_user.username }} - {{ site_name }}{% endblock title %}
{% block content %}
<div class="d-flex flex-column align-items-center align-items-md-start flex-md-row gap-3 align-items-start bg-body-secondary card p-3 mb-4">
	<img {% srcset f_user.profile.image  %} class="user-img float-start mt-1" alt="Profile Picture">
    <div class="d-flex flex-column">
        <h4 class="d-flex flex-row align-items-center justify-content-center justify-content-md-start gap-2" style="color:{{f_user.profile.color}}">
            {{ f_user.username }}
            {% if f_user.is_staff %}
                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Członek ekipy">
                    <i class="fa-solid fa-screwdriver-wrench fa-2xs" style="color: rgb(102, 163, 255);"></i>
                </div>
            {% endif %}
            {% if f_user.is_superuser %}
                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Administrator">
                    <i class="fa-solid fa-crown fa-2xs" style="color: #FFD43B;"></i>
                </div>
            {% endif %}
            {% if user.is_authenticated and f_user == user %}
            <a href="{% url 'edit_profile' %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edytuj profil">
                <i class="fa-solid fa-pen fa-2xs text-body" aria-hidden="true"></i>
            </a>
            {% endif %}
        </h4>
        {{f_user.profile.description|convert_markdown|safe}}
    </div>
</div>

<!-- Credits -->
{% if credits %}
<div class="card mb-4">
    <div class="card-header d-flex flex-row align-items-center px-4">
        <h5 class="card-title mb-0 py-1">Moje serie</h5>
    </div>
    <div class="d-flex flex-row overflow-auto gap-3 pb-4 card-body">
        {% for credit in credits %}
            <a href="{% url 'anime-nm' credit.0.web_name %}">
            <div class="card relations-card bg-body-secondary text-center" style="width: 10rem;">
                <img src="{{ credit.0.image }}" class="card-img-top" alt="Relation Cover Image">
                 <div class="card-body d-flex flex-column">
                    <h6 class="card-title">
                        {% if english_titles %}
                            {% if credit.0.name_english|length < 30 %}
                            {{credit.0.name_english}}
                            {% else %}
                            {{credit.0.name_english|slice:":30"|strip}}...
                            {% endif %}
                        {% else %}
                            {% if credit.0.name_romaji|length < 30 %}
                            {{credit.0.name_romaji}}
                            {% else %}
                            {{credit.0.name_romaji|slice:":30"|strip}}...
                            {% endif %}
                        {% endif %}
                    </h6>
                    <p class="card-text mt-auto ms-auto me-auto" style="font-size: 0.95rem">
                        {{ credit.1 }}
                  </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Comments -->
{% if com_ser or com_ep %}
<div class="card">
    <div class="card-header d-flex flex-row align-items-center px-4">
        <h5 class="card-title mb-0 py-1">Komentarze ({{ com_ser|add_two_sizes:com_ep }}):</h5>
    </div>
    <div class="d-flex flex-column gap-4 card-body">
        {% for com in com_ser %}
            <a href="{% url 'anime-nm' com.key_map.web_name %}">
                <div class="d-flex flex-row align-items-start">
                    <img class="com_img me-3 mt-1" src="{{ com.key_map.image }}" alt="Series Cover">

                    <div class="d-flex flex-column text-body">
                        <div class="d-flex flex-row gap-2">
                            <h6 class="fw-semibold mb-0">
                                {% if english_titles %}
                                {{com.key_map.name_english}}
                                {% else %}
                                {{com.key_map.name_romaji}}
                                {% endif %}
                            </h6>
                            <span class="d-none d-md-block">
                                {{com.date_posted|date:"d.m.o"}}
                            </span>
                        </div>
                        {{com.content}}
                        <input type="hidden" name="idd" value="{{com.pk}}" class="pdk">
                    </div>
                </div>
            </a>
        {% endfor %}

        {% for com in com_ep %}
            <a href="{% url 'ep-nm' com.key_map.key_map.web_name com.key_map.ep_nr %}">
                <div class="d-flex flex-row align-items-start">
                    <img class="com_img me-3 mt-1" src="{{ com.key_map.key_map.image }}" alt="Series Cover">

                    <div class="d-flex flex-column text-body">
                        <div class="d-flex flex-row gap-2">
                            <h5 class="fw-semibold mb-0">
                                {% if english_titles %}
                                {{com.key_map.key_map.name_english}} – Odcinek {{com.key_map.ep_nr}}
                                {% else %}
                                {{com.key_map.key_map.name_romaji}} – Odcinek {{com.key_map.ep_nr}}
                                {% endif %}
                            </h5>
                            <span class="d-none d-md-block">
                                {{com.date_posted|date:"d.m.o"}}
                            </span>
                        </div>
                        {{com.content}}
                        <input type="hidden" name="idd" value="{{com.pk}}" class="pdk">
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
