{% extends "base_sidebar.html" %}

{% block content %}
<div class="card mb-4">
    <div class="card-header d-flex flex-row align-items-center px-4">
        <h4 class="card-title mb-0 py-1">Administracja:</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4 card-body">
        {% for member in administators %}
            <a href="{% url 'user-inf' member.user.username %}">
            <div class="card bg-body-secondary p-2 pe-3">
                <div class="d-flex flex-row">
                    <img class="com_img me-3" src="{{ member.image.url }}" alt="Staff Image">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="" style="color:{{member.0.color}}">{{ member.user.username }}</div>
                    </div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header d-flex flex-row align-items-center px-4">
        <h4 class="card-title mb-0 py-1">Tłumacze:</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4 card-body">
        {% for member in translators %}
            <a href="{% url 'user-inf' member.0.user.username %}">
            <div class="card bg-body-secondary p-2 pe-3">
                <div class="d-flex flex-row">
                    <img class="com_img me-3" src="{{ member.0.image.url }}" alt="Staff Image">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="" style="color:{{member.0.color}}">{{ member.0.user.username }}</div>
                        <div class="text-secondary-emphasis">{{ member.1 }} serii</div>
                    </div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header d-flex flex-row align-items-center px-4">
        <h4 class="card-title mb-0 py-1">Korektorzy:</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4 card-body">
        {% for member in editors %}
            <a href="{% url 'user-inf' member.0.user.username %}">
            <div class="card bg-body-secondary p-2 pe-3">
                <div class="d-flex flex-row">
                    <img class="com_img me-3" src="{{ member.0.image.url }}" alt="Staff Image">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="" style="color:{{member.0.color}}">{{ member.0.user.username }}</div>
                        <div class="text-secondary-emphasis">{{ member.1 }} serii</div>
                    </div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="card">
     <div class="card-header d-flex flex-row align-items-center px-4">
        <h4 class="card-title mb-0 py-1">FAQ:</h4>
    </div>
    <div class="card-body px-4">
        <p>Q: Czy przetłumaczycie anime XYZ?<br>
        A: Zawsze możesz się nas o to zapytać, chociaż staramy się jednak skupiać na wychodzących anime podczas kolejnych sezonów. Przed wystartowaniem każdego z nich, będzie się pojawiać ankieta, gdzie będziecie mogli zagłosować, na które anime najbardziej czekacie.
        Chociaż ostateczna decyzja zależy od tłumaczy, którzy zdecydują się na daną serię!</p>

        <p>Q: Kiedy wyjdzie anime XYZ? O której godzinie?<br>
        A: Odcinki zazwyczaj wychodzą mniej więcej w tych samych dniach i godzinach, co tydzień. Tłumaczenie może spóźnić się o dzień, ale staramy się zawsze w miarę możliwości informować was o tym na bieżąco.</p>

        <p>Q: Czy dzisiaj będzie odcinek XYZ?<br>
        A: Jak wyżej, postaramy się was poinformować w razie zmian. </p>

        <p class="mb-0">Q: Czy można was jakoś wesprzeć?<br>
        A: Jasne! Możecie nas wesprzeć naszym patronite --> <a href="https://patronite.pl/fumetsu" target="_blank">https://patronite.pl/fumetsu</a> <br>
        Darowizny otrzymane od was posłużą na utrzymanie strony i rozwijanie jej :P</p>
    </div>
</div>

{% endblock content %}