{% extends "base_sidebar.html" %}
{% load utils_extras %}
{% load static %}
{% load poll_extras %}

{% block title %}Ogłoszenia - Fumetsu{% endblock title %}
{% block meta %}
    <meta name="description" content="Ogłoszenia - Dowiedz się o najnowszych zmianach na stronie!">
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center gap-4">
{% for post in announcements %}
    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0 py-1">{{ post.title }}</h4>
                <h6 class="card-title fw-normal text-muted mb-0 ms-auto">{{ post.date_posted|date:"d.m.o" }} </h6>
            </div>
            <div class="card-body px-4">
                {{ post.content|convert_markdown|safe }}
                <a class="announcement-img" href="{{ post.image.url }}" target="_blank">
                    <img src="{{ post.image.url }}" alt="Announcement image">
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}