{% load static %}
{% load lazy_srcset %}
{% load utils_extras %}

<!DOCTYPE html>
<html xml:lang="pl" lang="pl" data-bs-theme="dark" data-bs-core="modern">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="nosnippet">
    {% block meta %}{% endblock %}

    <!-- Halfmoon CSS -->
    <link href="{% static 'css/halfmoon_min.css' %}" rel="stylesheet">

    <!-- Halfmoon modern core theme -->
    <link href="{% static 'css/halfmoon_modern_min.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

    <!-- jQuery-Cookie -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Custom JS & CSS -->
    <script src="{% static '/js/script.js' %}"></script>
    <link href="{% static 'css/style_min.css' %}" rel="stylesheet">
    {% block scripts %}{% endblock scripts %}

	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/fb9c73f96c.js" crossorigin="anonymous"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
 
   <!-- logo web -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />


</head>
<body class="bg-dark-subtle">

<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-md card rounded-0" style="border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);" id="navbar">
    <div class="container-fluid justify-content-center gap-3 gap-md-0 px-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars fa-lg text-white"></span>
        </button>
        <a class="navbar-brand pt-0" href="{% url 'home' %}">
            <img class="d-inline-block align-text-top my-1" src="{% static '/img/logo.png' %}" height="36" alt="Fumetsu"/>
        </a>
        <!-- User dropdown mobile -->
        {% if user.is_authenticated %}
        <div class="ms-auto d-flex d-md-none nav-item dropdown p-0">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 40px">
                <img {% srcset user.profile.image max_width=40 %} class="rounded-circle object-fit-cover" height="40" width="40" alt="Profile picture">
            </a>
            <ul class="dropdown-menu dropdown-menu-end md-3 mt-3 rounded-top-0">
                <li><a class="dropdown-item py-2" href="{% url 'profile' user.username %}">Profil</a></li>
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item py-2">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link {% active_url 'home' %} menu-link" href="{% url 'home' %}">Strona Główna</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link {% active_url 'anime-list' %} menu-link" href="{% url 'anime-list' %}">Anime</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link {% active_url 'fumetsu-announcements' %} menu-link" href="{% url 'fumetsu-announcements' %}">Aktualności</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link {% active_url 'fumetsu-about' %} menu-link" href="{% url 'fumetsu-about' %}">O nas</a>
                </li>
            </ul>
        </div>
        <!-- User dropdown desktop -->
        {% if user.is_authenticated%}
        <div class="ms-auto d-none d-md-flex nav-item dropdown p-0">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 40px">
                 <img {% srcset user.profile.image max_width=40 %} class="rounded-circle object-fit-cover" height="40" width="40" alt="Profile picture">
            </a>
            <ul class="dropdown-menu dropdown-menu-end mt-md-3 rounded-top-0">
                <li><a class="dropdown-item" href="{% url 'profile' user.username %}">Profil</a></li>
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
        {% else %}
        <!-- Not-logged-in menu -->
        <ul id="login-buttons" class="navbar-nav ms-auto flex-row">
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link {% active_url 'login' %} menu-link" href="{% url 'login' %}">Zaloguj się</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link {% active_url 'register' %} menu-link" href="{% url 'register' %}">Załóż konto</a>
            </li>
            </ul>
        {% endif %}
    </div>
</nav>

<script>
    document.getElementById('navbar').addEventListener('click', function(event) {
        if (window.innerWidth <= 768 && !event.target.closest('.navbar-toggler') && !event.target.closest('.navbar-brand') && !event.target.closest('#navbarDropdown') && !event.target.closest('.dropdown-item') && !event.target.closest('.navbar-nav')) {
            document.querySelector('.navbar-toggler').click();
            if (document.querySelector('#login-buttons').classList.contains('me-auto')) {
                document.querySelector('#login-buttons').classList.remove('me-auto');
            }
            else {
                document.querySelector('#login-buttons').classList.add('me-auto');
            }
        }
    });
</script>

<!-- Messages -->
<section id="messages-section" class="position-fixed messages-section px-0 z-1">
{% if messages %}
    <div class="w-auto">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="me-2" height="1.4em" width="1.4em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg>
                <div>{{ message }}</div>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="me-2" height="1.4em" width="1.4em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
                </svg>
                <div>{{ message }}</div>
            </div>
        {% elif message.tags == 'danger' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="me-2" height="1.4em" width="1.4em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg>
                <div>{{ message }}</div>
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    </div>

     <script>
        setTimeout(function() {
            $('.alert').fadeOut('fast', function() {
                $(this).alert('close');
            });
        }, 3000);
    </script>
{% endif %}
</section>

{% include 'cookie_modal.html' %}

<!-- Page -->
<section class="content-section container container-fluid px-0 mb-auto">
    <!-- Content -->
    <div>
        {% block content%}{% endblock content %}
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="gap-4 p-4 border-top mt-5 footer">
    <a class="text-center d-none d-md-block" href="{% url 'fumetsu-terms-of-service' %}">Regulamin Serwisu</a>
    <a class="text-center d-none d-md-block" href="{% url 'fumetsu-privacy-policy' %}">Polityka prywatności</a>
    <div class="d-none d-md-block">© Fumetsu 2024 All Rights Reserved</div>
    <a class="text-center d-block d-md-none" href="{% url 'fumetsu-terms-of-service' %}">Regulamin</a>
    <a class="text-center d-block d-md-none text-nowrap" href="{% url 'fumetsu-privacy-policy' %}">Polit. pryw.</a>
    <div class="d-block d-md-none text-nowrap">© Fumetsu</div>
    <div class="d-flex flex-row justify-content-between gap-4">
        <a href="https://www.facebook.com/fumetsusubs/" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
        <a href="https://discord.gg/t5phVKT" target="_blank"><i class="fab fa-discord fa-lg"></i></a>
        <a href="https://patronite.pl/fumetsu" target="_blank"><i class="fa-solid fa-crown fa-lg"></i></a>
    </div>
</footer>

</body>
</html>
