{% extends "base_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static '/js/web_ep.js' %}"></script>
{% endblock scripts %}

{% block content %}

{#  {% if user.is_authenticated%}#}
{#	<form method="POST">#}
{#		{% csrf_token %}#}
{#		<button class="btn-none float-end pd-2" type="submit" name="ply_error">zgłoś player</button>#}
{#	</form>#}
{#  {% endif %}#}
{#	<br/>#}
{##}

<!-- Title and Episode Navigation -->
<div class="col-12 col-md-9 col-lg-9 mb-3">
<div class="d-flex flex-column align-items-center">
    <a href="{% url 'anime-nm' anime_nm.web_name %}"><h2>{{anime_nm.name_english}}</h2></a>
    <h5>
        {% if prev %}
            <a class="ps-4" href="{% url 'ep-nm' prev.key_map.web_name prev.ep_nr %}"><i class="fas fa-chevron-left"></i></a>
        {% else %}
            <i class="fas fa-chevron-left control-disabled ps-4"></i></a>
        {% endif %}
         Odcinek {{odc_html|floatformat}}
        {% if next %}
            <a class="pe-4" href="{% url 'ep-nm' next.key_map.web_name next.ep_nr %}"><i class="fas fa-chevron-right"></i></a>
        {% else %}
            <i class="fas fa-chevron-right control-disabled pe-4"></i>
        {% endif %}
     </h5>
</div>
</div>

<!-- Tabs -->
<div class="card col-12 col-md-9 col-lg-9 mb-4">
    <div class="card-body">
        <!-- Tab controls -->
        <nav>
            <div class="nav nav-justified nav-tabs px-5 gap-3" id="js-tabs-2" role="tablist">
                {% for player in link %}
                    {% if forloop.counter == 1 %}
                    <button class="nav-link active player-btn fw-bold fs-5 py-2" id="nav-{{player.web_site}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{player.web_site}}" type="button" role="tab" aria-controls="nav-{{player.web_site}}" aria-selected="true">{{player.web_site}}</button>
                    {% else %}
                    <button class="nav-link player-btn fw-bold fs-5 py-2" id="nav-{{player.web_site}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{player.web_site}}" type="button" role="tab" aria-controls="nav-{{player.web_site}}" aria-selected="false">{{player.web_site}}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
        <!-- Tab content (players) -->
        <div class="tab-content rounded-3 bg-body-secondary mt-3" style="height: 31vw" id="js-tabs-content-2">
            {% for player in link %}
                {% if forloop.counter == 1 %}
                <div class="tab-pane active" id="nav-{{player.web_site}}" role="tabpanel" aria-labelledby="nav-{{player.web_site}}-tab" tabindex="0">
                    <div class="">
                        <div class="video_cont">
                            <iframe src="{{player.link}}" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="tab-pane fade" id="nav-{{player.web_site}}" role="tabpanel" aria-labelledby="nav-{{player.web_site}}-tab" tabindex="0">
                    <div class="">
                        <div class="video_cont">
                            <iframe src="{{player.link}}" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Comments -->
{% if comment %}
<div class="col-12 col-lg-9 card p-3">
    <h5 class="mb-3">Sekcja komentarzy:</h5>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <label for="example-textarea-1" class="form-label">Dodaj komentarz:</label>
            <textarea class="form-control focus-ring focus-ring-primary" id="example-textarea-1" rows="3" placeholder="Super odcinek!"></textarea>
        </div>
    </form>
    {% endif %}
    <div id="Section_comm" class="d-flex flex-column gap-4">
        {% for com in comment %}
            <div class="d-flex flex-row align-items-start">
                <img class="com_img me-3 mt-1" src="{{ com.author.profile.image.url }}">

                <div class="d-flex flex-column">
                    <div class="d-flex flex-row gap-2 align-items-center">
                        <a href="{% url 'user-inf' com.author.username %}" style="color:{{com.color}}">
                            <div class="fs-5 fw-semibold">{{com.author.username}}</div>
                        </a>

                        {{com.date_posted}}

                        {% if com.author == user %}
                        <div class="dropend float-end ms-0">
                            <a class="com_mor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-pen fa-md text-body" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu ms-2 p-0" style="min-width: 100px" aria-labelledby="navbarDropdown">
                                <button class="text-start btn btn-outline-success rounded-bottom-0 w-100" data-bs-toggle="modal" data-target="#modalComRe">Edytuj</button>
                                <button class="text-start btn btn-outline-danger rounded-top-0 w-100" data-bs-toggle="modal" data-target="#modalComDel">Usuń</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {{com.content}}
                    <input type="hidden" name="idd" value="{{com.pk}}" class="pdk">
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}
