{% extends "base_sidebar.html" %}
{% load static %}
{% load lazy_srcset %}
{% load poll_extras %}
{% load utils_extras %}

{% block title %}Fumetsu - Oglądaj Anime z Napisami PL{% endblock %}
{% block meta %}
    <meta name="description" content="Oglądaj anime z napisami PL. Wszystkie odcinki dostępne online, po polsku, bez reklam.">
{% endblock %}

{% block content %}
<div class="row index-grid g-4">
{% for post in anime %}
    <div class="col mx-sm-auto">
        <div class="card specific-w-sm-300 w-sm-100 mw-100 h-100 mx-auto">
            <div class="aspect-ratio-16-9">
                <img {% srcset post.image %} class="card-img-top" alt="Episode thumbnail">
            </div>
            <div class="card-body bg-body-secondary d-flex flex-column">
                <a href="{% url 'anime-nm' post.key_map.key_map.web_name %}">
                    <h5 class="card-title">{{post.key_map.key_map.name_english}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 fw-normal text-body-secondary">
                    Odcinek {{post.key_map.ep_nr|floatformat}} - {{ post.key_map.title }}
                </h6>
                <div class="card-text mb-2">{{ post.content|trimwords:16|convert_markdown|safe}}</div>
                <a href="{% url 'ep-nm' post.key_map.key_map.web_name post.key_map.ep_nr %}" class="btn btn-primary btn-lg w-75 w-lg-100 py-2 py-md-1 mb-0 mt-auto ms-auto me-auto">Oglądaj</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}
