{% extends "base_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block scripts %}
    {{ search_term|json_script:"search-term" }}
    {{ search_tags|json_script:"search-tags" }}
    <script src="{% static '/js/jquery.waypoints.js' %}"></script>
    <script src="{% static '/js/infinite.js' %}"></script>
    <script src="{% static '/js/search.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div class="">
    <div class="d-flex flex-column align-items-center mb-5">
        <form id="search-form" class="d-flex flex-row gap-4 w-md-75 align-items-center" autocomplete="off">
            {% csrf_token %}
            <!-- Search input -->
            <input id="search-input" type="text" class="form-control focus-ring focus-ring-primary rounded-3 fs-5 px-3" style="height: 50px" placeholder="Szukaj serii...">
            <!-- Filter dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle px-3 rounded-3 fs-5 d-flex flex-row align-items-center gap-2" style="height: 50px" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-offset="0, 10">
                    <span class="d-none d-md-block">Filtruj</span>
                </button>
                <ul id="tags-filter" class="dropdown-menu" style="width: 200px">
                    <li><h6 class="dropdown-header">Gatunki</h6></li>
                    {% for tag in tags %}
                    <li class="dropdown-item d-flex flex-row align-items-center justify-content-between" style="height: 35px">
                        <div class="d-flex flex-row align-items-center w-100" style="height: 35px">
                            <label class="form-check-label w-100" style="font-size: 16px;" for="tags-{{ forloop.counter }}">{{ tag }}</label>
                        </div>
                        <input class="form-check-input float-end" type="checkbox" value="" id="tags-{{ forloop.counter }}">
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </form>
    </div>
</div>

<!-- Actual list of anime (managed by search.js) -->
<div id="results-box" class=" infinite-container d-flex flex-column anime-list gap-3"></div>
<!-- Invisible button to trigger infinite scrolling -->
<button id="infinite-trigger" class="d-none infinite-more-link"></button>

{% endblock content %}