{% extends "base_sidebar.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load utils_extras %}

{% block scripts %}
    <script src="{% static '/js/search_by_tag.js' %}"></script>
{% endblock scripts %}

{% block content %}

<div class="d-flex flex-column gap-4">
    <!-- Metadata (desktop version) -->
    <div class="bg-body-secondary card p-3">
        <div class ="d-flex flex-column flex-md-row gap-4 gap-md-3 align-items-center align-items-md-start mb-3">
            <div class="">
                <img class="ser-cover" src="{{ series.image }}">
            </div>

            <div>
               <h3 class="text-start pb-0 mb-1">{{series.name_english}}
                    <a href="https://anilist.co/anime/{{series.anilist_id}}" target="_blank">
                        <img class="d-inline-block align-middle rounded-1" height="24em" src="{% static 'img/anilist_icon.svg' %}"></img>
                    </a>
                </h3>

               <h5>{{series.name_romaji}}</h5>

                <div id="tags" class="mb-3 d-flex flex-row flex-wrap gap-2">
                    {% for tag in tags %}
                        <a href="/anime/?tags={{ tag|lower }}">
                            <button class="btn btn-secondary tag-btn">{{ tag }}</button>
                        </a>
                    {% endfor %}
                </div>

                <!-- Format -->
                <div class="d-flex flex-row gap-2">
                    <div class="text-secondary-emphasis">Rodzaj:</div>
                    {{ series.format }}
                </div>

                <!-- Status -->
                <div class="d-flex flex-row gap-2">
                    <div class="text-secondary-emphasis">Status:</div>
                    {% if series.status == 'AIRING' %}
                        Wychodzi
                    {% elif series.status == 'FINISHED' %}
                        Zakończone
                    {% elif series.status == 'NOT_YET_RELEASED' %}
                        Nie wydane
                    {% endif %}
                </div>

                <!-- Episode count -->
                <div class="d-flex flex-row gap-2">
                    <div class="text-secondary-emphasis">Ilość odcinków:</div>
                    {{ series.episode_count }}
                </div>

                <!-- Rating -->
                <div class="d-flex flex-row gap-2">
                    <div class="text-secondary-emphasis">Średnia ocena:</div>
                    <div class="d-flex flex-row gap-1">
                        {{ series.rating }}
                        {% if series.rating > 65 %}
                        <div class="text-success">•</div>
                        {% elif series.rating > 50 %}
                        <div class="text-warning">•</div>
                        {% else %}
                        <div class="text-danger">•</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-start">{{series.content}}</div>

        <!-- Staff -->
        {% if staff %}
        <div class="d-flex flex-row flex-wrap gap-3 mt-3">
            {% for user in staff %}
            <a href="{% url 'profile' user.0.user.username %}">
                <div class="card bg-body-secondary p-2 pe-3">
                    <div class="d-flex flex-row">
                        <img class="com_img me-3" src="{{ user.0.image.url }}" alt="Staff Image">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="" style="">{{ user.0.user.username }}</div>
                            <div class="text-secondary-emphasis">{{ user.1 }}</div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!-- Episodes -->
    <div class="card">
        <div class="card-header d-flex flex-row align-items-center">
            <h4 class="card-title mb-0 py-1">Odcinki:</h4>
        </div>
        <div class="d-flex flex-row flex-wrap gap-2 card-body">
            {% for e in ep %}
                <a href="{% url 'ep-nm' series.web_name e.ep_nr %}">
                    <button class="btn btn-outline-primary ep-btn"><b>{{ e.ep_nr|floatformat}}</b></button>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Relations -->
    {% if relations %}
    <div class="card">
        <div class="card-header d-flex flex-row align-items-center">
            <h4 class="card-title mb-0 py-1">Powiązane:</h4>
        </div>
        <div class="d-flex flex-row overflow-scroll gap-3 card-body">
            {% for relation in relations %}
                <a href="{% url 'anime-nm' relation.0.web_name %}">
                <div class="card relations-card bg-body-secondary text-center" style="width: 10rem;">
                    <img src="{{ relation.0.image }}" class="card-img-top" alt="Relation Cover Image">
                     <div class="card-body d-flex flex-column">
                        <h6 class="card-title">
                            {% if relation.0.name_english|length < 40 %}
                            {{relation.0.name_english}}
                            {% else %}
                            {{relation.0.name_english|slice:":40"}}...
                            {% endif %}
                        </h6>
                        <p class="card-text mt-auto ms-auto me-auto" style="font-size: 0.95rem">
                            {% if relation.1 == 'SIDE_STORY'%}
                            POBOCZNE
                            {% elif relation.1 == 'SPIN_OFF'%}
                            SPIN-OFF
                            {% else%}
                            {{relation.1}}</p>
                            {% endif %}
                      </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Comments -->
    {% if user.is_authenticated or comment %}
    <div class="card">
        <div class="card-header d-flex flex-row align-items-center">
            <h4 class="card-title mb-0 py-1">Sekcja komentarzy:</h4>
        </div>
        <div class="card-body d-flex flex-column gap-4">
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn btn-success flex-row d-flex align-items-center gap-2" type="submit">
                    <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                    Dodaj
                </button>
            </form>
            {% endif %}
            {% if comment %}
            <div class="d-flex flex-column gap-4">
                {% for com in comment %}
                    <div class="d-flex flex-row align-items-start">
                        <a href="{% url 'profile' com.author.username %}" style="color:{{com.author.profile.color}}">
                            <img class="com_img me-3 mt-1" src="{{ com.author.profile.image.url }}" alt="User Avatar">
                        </a>

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <a href="{% url 'profile' com.author.username %}" style="color:{{com.color}}">
                                    <div class="fs-5 fw-semibold">{{com.author.username}}</div>
                                </a>

                                <span class="d-none d-md-block">
                                    {{com.date_posted}}
                                </span>

                                {% if com.author == user %}
                                <div class="dropend float-end ms-0">
                                    <a class="com_mor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical fa-md text-primary-emphasis pe-2" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu ms-2 p-0" style="min-width: 100px" aria-labelledby="navbarDropdown">
                                        <button onclick="location.href='{% url 'edit-cmt' com.id %}'" class="text-start btn btn-outline-success rounded-bottom-0 w-100">Edytuj</button>
                                        <form method="POST" action="{% url 'del-cmt' com.id %}">
                                            {% csrf_token %}
                                            <button class="text-start btn btn-outline-danger rounded-top-0 w-100">Usuń</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            </div>

                            {{com.content}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}