{% extends "base.html" %}
{% load utils_extras %}
{% load static %}
{% load poll_extras %}

{% block title %}Regulamin serwisu - Fumetsu{% endblock title %}

{% block content %}
<div class="d-flex flex-column align-items-center">
<div class="col-12 col-md-8">
  <h2 class="mb-5">Regulamin serwisu Fumetsu</h2>
<div class="d-flex flex-column align-items-center gap-4">
    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 1. Postanowienia ogólne</h4>
            </div>
            <div class="card-body px-4">
                1. Niniejszy Regulamin określa zasady korzystania z serwisu Fumetsu, dostępnego pod adresem internetowym <a href="https://fumetsu.pl">fumetsu.pl</a>.<br>
                2. Korzystanie z serwisu oznacza akceptację niniejszego Regulaminu. Użytkownicy zobowiązują się do przestrzegania jego postanowień.<br>
                3. Kontakt z Administratorem serwisu Fumetsu jest możliwy przez adres e-mail: fumetsusubs@gmail.com.
            </div>
        </div>
    </div>

    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 2. Zasady korzystania z serwisu</h4>
            </div>
            <div class="card-body px-4">
                1. Każdy użytkownik ma prawo do założenia i korzystania z jednego konta w serwisie Fumetsu.<br>
                2. Użytkownik jest zobowiązany do przestrzegania zasad netykiety, w tym do poszanowania godności innych użytkowników i unikania działań, które mogą być uznane za obraźliwe, agresywne lub nieodpowiednie.<br>
                3. Zabronione jest wykorzystywanie błędów i luk w serwisie do uzyskania nieuprawnionych korzyści lub wpływania na działanie serwisu w sposób sprzeczny z jego przeznaczeniem.
            </div>
        </div>
    </div>

    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 3. Zasady publikowania treści</h4>
            </div>
            <div class="card-body px-4">
                1. Użytkownik jest odpowiedzialny za treści publikowane w serwisie Fumetsu.<br>
                2. Administrator serwisu zastrzega sobie prawo do usuwania treści, które są niezgodne z obowiązującym prawem, niniejszym Regulaminem, lub zasadami netykiety, a także do blokowania kont użytkowników, którzy naruszają te zasady.
            </div>
        </div>
    </div>

    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 4. Prawa i obowiązki administratora</h4>
            </div>
            <div class="card-body px-4">
                1. Administrator ma prawo do tymczasowego lub stałego zablokowania konta użytkownika w przypadku naruszenia postanowień niniejszego Regulaminu lub obowiązującego prawa.<br>
                2. Administrator zastrzega sobie prawo do modyfikowania funkcji serwisu, wprowadzania nowych rozwiązań technicznych, a także dokonywania zmian w Regulaminie. Zmiany wchodzą w życie z chwilą ich opublikowania na stronie serwisu.
            </div>
        </div>
    </div>

    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 5. Ochrona danych osobowych</h4>
            </div>
            <div class="card-body px-4">
                1. Dane osobowe użytkowników przetwarzane są zgodnie z Polityką Prywatności serwisu Fumetsu oraz obowiązującymi przepisami prawa.<br>
                2. Użytkownik ma prawo do dostępu do swoich danych, ich sprostowania, usunięcia, ograniczenia przetwarzania, a także do wniesienia sprzeciwu wobec przetwarzania danych.
            </div>
        </div>
    </div>

    <div class="card announcements-card overflow-hidden">
        <div class="d-flex flex-column">
            <div class="card-header d-flex flex-row align-items-center gap-3 px-4 py-2">
                <h4 class="card-title mb-0">§ 6. Postanowienia końcowe</h4>
            </div>
            <div class="card-body px-4">
                1. W sprawach nieuregulowanych niniejszym Regulaminem zastosowanie mają odpowiednie przepisy prawa polskiego.<br>
                2. Wszelkie spory związane z korzystaniem z serwisu Fumetsu będą rozstrzygane przez właściwe sądy powszechne.<br>
                3. Niniejszy Regulamin wchodzi w życie z dniem jego opublikowania na stronie serwisu.
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}